/* add css styles here (optional) */

.container {
  position: relative;
  cursor: crosshair;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  zIndex: 1;
},

.data {
  position: absolute;
  left: 0;
  top: 0;
  zIndex: 2;
}

.ui {
  position: absolute;
  left: 0;
  top: 0;
  zIndex: 3;
}
